
<style>
.fBlanco{
	background: white;
}
.naranja1{
  color:orange;
  text-align: center;
  font-size: 400%;
}
.centrado{
	width: 100%;
	padding: 10%;
	padding-top: 0%;
	font-size: 140%;
}
.centrado label{
	color: #1E88E5;
}
.centrado input{
	margin: 1%;
	font-size: 130%;
}
.miClase{
	color:red;
}
</style>



<body class = "fBlanco">

<h1 class = "naranja1">Alta de Promocion</h1>

<section class ="centrado">
<%= render 'form', promocion: @promocion %>


<%= link_to 'Regresar', promocions_path %>
<%=@res%>

</section>

</body>
